body {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  /*
    background-image: linear-gradient(100deg, magenta, rebeccapurple, dodgerblue, green);
    */
  height: 100vh;
  font-size: 25px;
}

.books {
  margin-top:0%;
}


table,
th,
td {
  border: 1px solid black;
}



#pixelCanvas {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


#pixelCanvas thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}

#pixelCanvas th,
#pixelCanvas tr {
  padding: 12px 15px;
  text-align:center;
}

#favDialog{
  border-radius:30px;
}


button,
input {
  font-size: 25px;
}

#buttons{
  display:flex;
  align-items: center;
  justify-content: center;  
}  

#confirmBtn{
  margin-left:2%;
}


#read{
  width:20px;
  height:20px;
}


p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}